{% include "_partials/_header.html" %}
<header class="headerExercice">
    <div class="wrapper">
        <h4>Victor Di Nezza</h4>
    </div>
</header>
<section class="hero">
    <div class="wrapper">
        <h1>Mon cahier d'exercice</h1>
    </div>
</section>
<section class="premlabs">
    <div class="wrapper">
        <h3>
            Mes premier
            <strong>laboratoires</strong>
        </h3>
        <div class="tableau">
            <div class="tablelement"></div>
            <div class="tablelement"></div>
            <div class="tablelement"></div>
            <div class="tablelement"></div>
        </div>
    </div>
</section>
<section class="labsreactif">
    <div class="wrapper"></div>
</section>
<footer class="footerExercice">
    <div class="wrapper">
        <h2>
            Contactez-
            <strong>moi</strong>
        </h2>
        <p>
            Afin qu'on puisse parler de
            <strong>votre</strong>
            projet
        </p>
    </div>
</footer>

{% include "_partials/_footer.html" %}
