{% include "_partials/_header.html" %}
<header class="headerExercice">
    <div class="wrapper">
        <h4>Victor Di Nezza</h4>
    </div>
</header>
<section class="hero">
    <div class="wrapper">
        <h1>Mon cahier d'exercice</h1>
    </div>
</section>
<section class="premlabs">
    <div class="wrapper">
        <h3>
            Mes premier
            <strong>laboratoires</strong>
        </h3>
        <div class="tableau">
            <div class="tablelement">
                <a href="#" class="button">Test <svg class="icon">
                    <use href="#icon-chevron-right"></use>
                </svg></a>
            </div>
            <div class="tablelement"></div>
            <div class="tablelement"></div>
            <div class="tablelement"></div>
        </div>
    </div>
</section>
<section class="labsreactif">
    <div class="wrapper">
        <h4>Mes ­<strong>laboratoires réactifs</strong></h4>
        <div class="swiper js-swiper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="SitesSemaines7plus">
                        <div class="mediaReactif">
                            <img src="" alt="">
                        </div>
                        <div class="textReactif">
                            <h4>Sem 07 - site réactif</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<footer class="footerExercice">
    <div class="wrapper">
        <h2>
            Contactez-
            <strong>moi</strong>
        </h2>
        <p>
            Afin qu'on puisse parler de
            <strong>votre</strong>
            projet
        </p>
    </div>
</footer>

{% include "_partials/_footer.html" %}
